/*
Theme Name: Shoply
Theme URI: https://sellerthemes.com/shoply-free/
Author: Seller Themes
Author URI: https://sellerthemes.com/
Description: Shoply is a WooCommerce multipurpose WordPress theme designed for shopping online stores. Shoply is suitable for eCommerce websites such as fashion, suit, sneaker, shoes, glasses, accessories, supermarket … or anything you want. The theme is built with lots of cool features and fully eCommerce functionalities in Pro version. Visit Shoply pro demo. https://preview.sellerthemes.com/pro/shoply/
Template: storely
Version: 9.7
Tested up to: 6.5.2
Requires PHP: 5.6
Requires at least: 4.7
License: GPLv3 or later
License URI:  https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: shoply
Slug: shoply
Tags: one-column, two-columns, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu,  custom-logo, featured-image-header, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce, portfolio, editor-style, grid-layout

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/


/* Colors */

:root {
    --bs-primary:#82b638;
    --bs-primary-dark:#e76800;
    --bs-primary-light: #fbf0f0;
    --bs-primary-strips: rgb(130 182 56 / 0.1);
}

.header2 #browse-section .widget_nav_menu .sub-menu {
    position: absolute;
    z-index: 99;
    width: 220px;
    background: var(--bs-white);
    padding: 4px 0;
    margin: 0;
    border: 0;
    right: -20%;
    border-radius: 0;
    -moz-box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.075);
    box-shadow: 0 -8px 16px rgb(0 0 0 / 8%);
    font-size: 1rem;
    text-align: left;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border-bottom-width: 4px;
    border-style: solid;
    border-color: var(--bs-primary);
}

.header2 #browse-section .widget_nav_menu .menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}


.header2 button.product-category-btn {
    background: var(--bs-primary);
}

.header2 #browse-section .widget_nav_menu .sub-menu li a {
    border-bottom: 1px solid #e1e1e1;
    color: var(--bs-secondary-dark);
    font-weight: 600;
    line-height: 24px;
    padding: 8px 18px 8px 18px;
    text-transform: none;
    white-space: normal;
    display: block;
}

.header2 #browse-section .widget_nav_menu li.menu-item-has-children > a:after {
    content: "\f107";
    font-family: var(--bs-font-awesome);
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 16px;
    -webkit-transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.header2 .main-navbar:not(.breadcrumb-menu) .main-menu > li > a {
    line-height: 58px;
}

.header2 #browse-section #menu-language-menu a {
    color: var(--bs-secondary);
    padding-right: 20px;
}

.header2 #browse-section .navbar-area {
    border: 1px solid #e8e8e8;
}

.header2 #browse-section .main-navbar.menu-bar {
    padding: 11px 0;
    border: 1px solid #e8e8e8;
}

.header2 #browse-section .main-navbar.menu-bar select{
    min-height:36px;
}

.header2 #browse-section .main-navbar.menu-bar.menu-bar-right p {
    line-height: 1;
    text-align: center;
}

.header2 #browse-section .main-navbar.menu-bar .widget.widget_nav_menu .menu li > a > img {
    display: inline-block;
    width: auto !important;
    height: 16px !important;
    margin-right: 5px;
    transform: translateY(0);
}
.header2 #browse-section .widget_nav_menu .menu > .menu-item > .sub-menu:before {
    content: "";
    position: absolute;
    top: auto;
    bottom: -10px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.header2 #browse-section .widget_nav_menu .menu > .menu-item > .sub-menu:before {
    top: -10px;
    border-bottom: 10px solid var(--bs-white);
}

.header-search-form .header-search-select,
#main-header2 .header-search-form .header-search-select,
#main-header3 .header-search-form .header-search-select,
.header5 .header-search-form .header-search-select {
    width: 30%;
    display: inline-block;
    border: none;
    float: right;
    cursor: pointer;
    min-height: 60px;
    border-left: 1px solid #e8e8e8;
    padding: 14px 29px 14px 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline-offset: -5px;
    background: url("data:image/svg+xml;utf8,<svg fill='rgb(36 39 46)' height='25' viewBox='0 0 24 24' width='25' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    no-repeat 92% 16.5px;
}


.header2 #main-header2 .widget_social_widget li a {
    background-color: transparent;
    border: 1px solid var(--bs-secondary);
}
.header2 #main-header2 .widget_social_widget li a i {
    color: var(--bs-secondary);
}
.header2 #main-header2 .widget_social_widget li a:hover i {
    color: var(--bs-primary);
}

.header2 #main-header2 .widget_social_widget li a {
    border: none;
    overflow: visible;
}
.header2 #main-header2 .widget_social_widget li a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--bs-secondary);
    border-radius: 50%;
    transition: all 0.2s linear 0s;
}
.header2 #main-header2 .widget_social_widget li a:hover:after {
    height: 0px;
    top: 100%;
    border-color: var(--bs-primary);
}


.slider2 .home-slider-info-wrapper .slider-silde-info .slide-text-title {
    color: #ffffff;
}

.slider2 .home-slider-info-wrapper .slider-silde-info .slide-text-description {
    color: #ffffff;
}

.slider2 .slider-section .slider-info,
.slider3 .slider-section .slider-info {
    min-height: 247px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 247px;
}

.slider2 .slider-section .slider-info .slide-text.btn-white:hover,
.slider2 .slider-section .slider-info .slide-text.btn-white:focus,
.slider3 .slider-section .slide-text.btn-white:hover,
.slider3 .slider-section .slide-text.btn-white:focus {
    color: var(--bs-white);
    background-color: var(--bs-secondary);
}

.slider2 .slider-section .slider-info img,
.slider3 .slider-section .slider-info img {
    object-fit: fill;
    min-height: 197px;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: 1s linear;
}

.slider2 .slider-section .slider-info .slider-area,
.slider3 .slider-section .slider-info .slider-area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 20px 10px 10px 20px;
}

.slider2 .slider-section .slider-info >img:hover, .slider3 .slider-section .slider-info >img:hover, .slider2 .slider-section .slider-info >img:focus-within, .slider3 .slider-section .slider-info >img:focus-within {
    transform: scale(1.2);
}

.high-bg {
    background-color: #ffffff;
    color: var(--bs-primary);
    padding: 5px 10px;
}

.header-search-form {
    margin-bottom: 0;
    overflow: hidden;
}

.header2 #browse-section .main-navbar.menu-bar.menu-bar-right select {
    border: none;
    background: none;
}

.header-search-form .header-search-button {
    border: 1px solid var(--bs-secondary);
    background-color: var(--bs-secondary) !important;
}

.footer-widgets .widget_products li a:before {
    content: none !important;
}

.footer-widgets .widget_products li a {
    display: contents !important;
}

.sidebar .wp-block-woocommerce-mini-cart {
    padding: 20px 12px;
}

.wp-block-button__link {
    background-color: var(--bs-primary)
}

.footer-section figure.wp-block-table table tr,
.footer-section figure.wp-block-table figcaption {
    color: #fff;
}

.footer-section figure.wp-block-table table td {
    border-width: 1px;
}

.footer-widgets .widget_text {
    color: #fff;
}

.footer-section ol.wp-block-latest-comments {
    padding: 0;
}

.wp-block-file a.wp-block-file__button {
    border-radius: 4px;
    background-color: var(--bs-primary);
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.sidebar .wp-block-table {
    padding: 15px;
}

.wp-block-table table tr, .wp-block-table table td {
    border: 1px solid #e8e8e8;
    text-align: center;
}

.sidebar .wp-block-table figcaption {
    text-align: center;
}

.sidebar .widget_block {
    /* padding: 18px 12px; */
}

.post-content .gallery {
    display: inline-block;
}

.wp-block-image figcaption {
    text-align: center;
}

.wp-block-social-links li.wp-social-link {
    padding: 0;
}

.wp-block-social-links li a:before {
    content: none !important;
}

.footer-section .wp-block-social-links li a {
    padding-left: 0.25rem !important;
    margin-bottom: 0 !important;
}

.header2 .browse-section .widget_calendar table caption {
    padding-right: 1.75rem;
    padding-top: 0;
    padding-bottom: 0;
}

.header2 .browse-section .wp-block-calendar, .calendar_wrap {
    padding: 20px;
}

.post-items .post-content .gallery-item .gallery-icon img {
    width: 100%;
}

.footer-section .wp-block-buttons .is-style-outline a.wp-block-button__link {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.wp-block-embed figcaption {
    text-align: center;
}

.post-section #st-primary-content .wp-block-group {
    padding: 0 20px;
}

.wp-block-group em {
    color: inherit;
}

.is-style-outline .wp-block-button__link {
    background: transparent !important;
}

.has-text-color em,
.has-text-color h2 {
    color: inherit;
}

a.wp-block-file__button,
a.wp-block-file__button:hover,
a.wp-block-file__button:focus {
    color: #fff;
}

.has-text-color * {
    color: inherit;
}

.has-text-color a:hover,
.has-text-color a:focus {
    color: inherit;
}

.wp-block-pullquote.has-text-color blockquote {
    border-color: inherit !important;
}

blockquote {
    border-color: inherit !important;
}

.wp-block-calendar table caption {
    font-weight: 500;
}

.wp-block-avatar img {
    border-radius: 50%;
}

.sidebar form.wp-block-search{
    padding: 0;
}

.sidebar .wp-block-search__label{
    border-bottom: 2px solid var(--bs-primary);
    font-size: 18px;
    font-weight: 600;
}

.sidebar .wp-block-search__label, .sidebar .wp-block-search__inside-wrapper{
    padding: 20px 12px;
}

.sidebar .wp-block-search__inside-wrapper{
    position: relative;
}

.sidebar .wp-block-search__button{
    position: absolute;
    right: 12px;
    top: 20px;
    padding: 12px 5px;
}

.wp-block-image figcaption {
    margin-bottom: 0;
}

.wp-block-group .wp-block-image figcaption a {
    color: var(--bs-primary);
}

blockquote.wp-block-quote.has-text-color p, blockquote.wp-block-quote.has-text-color p var, blockquote.wp-block-quote.has-text-color p cite, blockquote.wp-block-quote.has-text-color cite {
    color: inherit;
}

.wp-block-table figcaption {
    text-align: center;
}
.sidebar .widget .wp-block-group .wp-block-image {
    margin-bottom: 0;
}
ul.wp-block-rss {
    list-style: disc;
}
.has-text-color a:hover, .has-text-color a:focus {
    color: inherit;
}
.entry-content ul:last-child {
    margin-bottom: 0;
}
.wp-block-code.has-text-color code {
    color: inherit;
}
.sidebar .widget .wp-block-group .is-nowrap p {
    padding: 0;
}
.sidebar .widget .wp-block-group .wp-block-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-date {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
}

/*wp-Block-RSS*/
ul.wp-block-rss {
    list-style: none;
    margin-left: 0;
}
ul.wp-block-rss li.wp-block-rss__item {
    margin-bottom: 1rem;
}
ul.wp-block-rss li.wp-block-rss__item:last-child {
    margin-bottom: 0;
}

/*wp-block-latest-comments*/
.wp-block-latest-comments__comment-date {
    padding-top: 0.500rem;
    padding-bottom: 0.500rem;
}

.sidebar .widget .wp-block-group .wp-block-pullquote blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar .widget .wp-block-group .wp-block-rss .wp-block-rss__item-title > a {
    font-weight: 600;
}

.wp-block-quote.is-style-large {
    padding-top: 1.10rem;
    padding-bottom: 1.10rem;
}

.sidebar .widget .wp-block-group .wp-block-file, .sidebar .widget .wp-block-group .wp-block-image {
    padding: 1.563rem 1.000rem 1.563rem;
}

.widget .wp-block-group .is-vertical a {
    color: inherit;
}

.entry-content ol.wp-block-latest-comments {
    padding-left: 2rem;
}

.wp-block-table figcaption {
    text-align: center;
}

.post .entry-content ul.wp-block-archives {
    margin-left: 1.125rem;
    list-style: disc
}

.wp-block-code.has-background code {
    background: inherit;
}

.wp-block-group .wp-block-embed,
.wp-block-group .wp-block-image {
    padding: 1.563rem 1.000rem 1.563rem;
}

.wp-block-archives-dropdown select,
.wp-block-categories-dropdown select {
    width: auto;
}

.widget .wp-block-group .wp-block-columns {
    margin-bottom: 0;
}

.widget .wp-block-group .wp-block-rss li:last-child {
    padding-bottom: 0;
}

ul.wp-block-page-list a {
    text-decoration: none;
}

.sidebar .wp-block-group .is-nowrap {
    margin: 1.563rem 1.000rem 1.563rem;
}

.wp-block-code code img {
    display: inline-block;
    margin-left: 20px;
}

.sidebar .widget .wp-block-group .wp-block-latest-comments__comment-meta {
    font-weight: 600;
    line-height: 1.5;
}

​.wp-block-woocommerce-customer-account a .wc-block-customer-account__account-icon {
    height: 2em;
    width: 2em;
}

.sidebar .widget .wp-block-group .is-layout-flow h2 {
    border-left: 0 none;
}

.wc-block-components-product-title a,
.wc-block-components-product-title a:hover,
.wc-block-components-product-title a:focus {
    text-decoration: none;
}

.wp-block-details summary {
    font-weight: 600;
}

.wp-block-verse {
    padding: 10px;
}

.wp-block-calendar .wp-calendar-nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.wc-block-cart .wp-block-woocommerce-cart-order-summary-block .wc-block-cart__totals-title {
    font-size: 24px;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.sidebar .widget .wp-block-group .wp-block-latest-comments,
.sidebar .widget .wp-block-group .wp-block-loginout,
.sidebar .widget .wp-block-group .wp-block-table,
.sidebar .widget .wp-block-group .wp-block-buttons {
    padding: 1.563rem 1.000rem 1.563rem;
}

.sidebar .widget .wp-block-group .wp-block-embed {
    margin: 0;
}

.sidebar .widget .wp-block-group ol li {
    padding-bottom: 0.625rem;
}

.wp-block-details summary {
    font-weight: 600;
    padding: 10px;
}

a.wc-block-grid__product-link {
    text-decoration: none;
}

.wp-block-latest-posts__post-author {
    font-size: 1.7rem;
    font-weight: 600;
}

.wp-block-cover.has-background-dim-60.has-background-dim .wp-block-cover-text a:hover {
    color: inherit;
}

.sidebar .widget .wp-block-group .wp-block-cover,
.sidebar .widget .wp-block-group .wp-block-separator {
    margin-bottom: 0rem;
}

.wp-block-quote .wp-block-search {
    padding-bottom: 5px;
}

.gallery:after {
    display: table;
    content: "";
    clear: both;
}

.wc-block-mini-cart__icon,
.wc-block-mini-cart__badge {
    color: inherit;
}

.sidebar .widget .wp-block-pullquote cite {
    z-index: 1;
}

.sidebar .widget .wp-block-group .is-nowrap {
    margin: 1.563rem 1.000rem 1.563rem;
}

.wp-block-post-title a {
    text-decoration: none;
}

.wp-block-details summary {
    font-weight: 600;
}

.wp-block-group.has-black-border-color {
    border-color: #333 !important;
}

.widget .wp-block-group .wp-block-preformatted a {
    color: inherit;
}

.wp-block-woocommerce-single-product .wp-block-post-title a {
    text-decoration: none;
}

.wc-block-grid__products .wc-block-components-product-sale-badge.wc-block-grid__product-onsale {
    letter-spacing: 0.2px;
    border: none;
}

.footer-sidebar .widget .wp-block-group .wp-block-image .wp-element-caption a {
    color:inherit;
}

.wp-block-archives-list a {
    text-decoration: none;
}

.sidebar .widget .wp-block-group .is-nowrap p {
    padding: 0;
}

.sidebar .widget.widget_block .wp-block-group ul.wp-block-latest-posts__list {
    margin-left: 0;
}

blockquote:last-child {
    margin-bottom: 0;
}

.sidebar .widget .wp-block-group .wp-block-latest-comments__comment-meta {
    font-weight: 600;
    line-height: 1.5;
}

.wc-block-grid__product-price.price ins {
    font-weight: bold;
}

.wc-block-components-product-title a.wc-block-components-product-name:hover,
.wc-block-components-product-title a.wc-block-components-product-name:focus {
    color: inherit;
}

.wc-block-grid__products .wc-block-components-product-sale-badge.wc-block-grid__product-onsale {
    font-size: 12px;
    letter-spacing: 0.2px;
    border: none;
}

.wc-block-components-product-title a.wc-block-components-product-name {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.wp-block-code.has-text-color code {
    color: inherit;
}

.wc-block-components-product-title a.wc-block-components-product-name:hover,
.wc-block-components-product-title a.wc-block-components-product-name:focus {
    color: inherit;
}

.wc-block-grid__products .wc-block-components-product-button__button {
    border-radius: 0;
}

.wp-block-search .wp-block-search__button {
    border-radius: 0.5rem;
}

.widget .wp-block-heading:before {
    left: 0;
    top: 0;
}

.wp-block-details summary {
    font-weight: 600;
    padding: 10px;
}

div.wc-block-components-sidebar-layout.wc-block-cart .wc-block-cart__totals-title {
    font-weight: 700;
    font-size: 24px;
}

.wc-block-components-product-title a.wc-block-components-product-name {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-decoration: none;
}

.wc-block-components-checkout-place-order-button{
    background: inherit;
}

.wc-block-components-totals-item {
    font-weight: 700;
}